.posts {
  background-color: var(--color-1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  min-height: 50vh;
  /* width: 90vw; */
}

.filter-buttons {
  width: 600px;
  font-size: 20px;
  /* background-color: pink; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.postblock {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: var(--color-1);
  box-shadow: 0 0 2px var(--bg-color);
  border-radius: 20px;
  width: 600px;
}

.postblock:hover h1 {
  color: #666;
}
.postblock:hover {
  box-shadow: 0 0 4px var(--bg-color);
}

.post-top {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  /* background-color: yellow; */
  width: 93%;
}

.post-top h2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index {
  font-size: 20px;
  /* background-color: red; */
  position: absolute;
  top: 2px;
  left: 0;
  color: #666;
}
.post-top h1 {
  font-size: 22px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  /* font-family: ; */
  /* background-color: pink; */
}

.post-bottom {
  /* background-color: pink; */
  padding-left: 30px;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* font-size: 12px; */
}

.post-bottom p {
  display: flex;
  align-items: center;
}

.ldbuttons {
  /* background-color: red; */
  font-weight: 600;
  color: var(--color-2);
  /* gap: 2px; */
  position: relative;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ldbuttons p{
  padding-bottom: 2px;
}

.like input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.like {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.like svg {
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: all 0.3s;
  fill: #4dd94d95;
  rotate: 180deg;
}

.like svg:hover {
  transform: scale(1.1) rotate(-10deg);
  background-color: #6666663e;
  padding: 0px 5px;
  border-radius: 10px;
}


.dislike input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.dislike {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.dislike svg {
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: all 0.3s;
  fill: #F8632095;
}

.dislike svg:hover {
  transform: scale(1.1) rotate(-10deg);
  background-color: #6666663e;
  padding: 0px 5px;
  border-radius: 10px;
}

.like.active svg {
  fill: rgb(77, 217, 77);
  transform: scale(1.2) rotate(-10deg);
  background-color:#4dd94d3e;
  padding: 0px 5px;
  border-radius: 10px;
}
.dislike.active svg {
  fill:var(--bg-color);
  transform: scale(1.2) rotate(-10deg);
  background-color:#F863203e;
  padding: 0px 5px;
  border-radius: 10px;
}

.instalogo {
  transform: translateX(-2px) translateY(3px);
  height: 15px;
  width: 15px;
  object-fit: cover;
}
.userid {
  /* color: red; */
  text-decoration: none;
  color: #666;
}
.userid:hover {
  color: var(--bg-color);
}

/* Existing styles */
.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  padding-bottom: 3px;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 600;
}
button.active1 span {
  color: var(--bg-color);
  border-bottom: 2px solid var(--bg-color);
}

.hover-underline-animation {
  position: relative;
  color: var(--bg-color);
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--bg-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* New styles for the link */
.userid {
  text-decoration: none;
}

.userid .hover-underline-animation {
  color: #666; /* Same as before */
  padding-bottom: 2px; /* Adjust padding for link */
}

.userid .hover-underline-animation:after {
  background-color: #000000;
}

.userid:hover .hover-underline-animation:after {
  transform: scaleX(1);
  color: var(--bg-color);
  transform-origin: bottom left;
}

.userid:hover {
  color: var(--bg-color);
}

/* -------------------------landing page */

.landingPage {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: var(--color-1);
  width: 100vw;
  /* height: 100vh; */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  margin: 30px;
  background-color: var(--color-1);
  box-shadow: 2px 2px 2px var(--bg-color) inset, 2px 2px 2px var(--bg-color);
  width: 600px;
  
}
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: var(--bg-color);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
transform :rotate(270deg);
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}

.yash{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 40px;
  /* width: 80px; */
  text-decoration: none;
  padding: 0 10px;
  gap: 5px;
  background-color:var(--bg-color);
  font-weight: 500;
  color: var(--color-1);
}
.yash img{
  height: 30px;
  width: 30px;
}
.main{
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  padding: 50px  0 40px  0;
  color: #666;
  /* background-color: red; */
}
.main span{
  color:var(--bg-color);
  text-decoration: underline 2px;
}

@media only screen and (max-width: 600px) {
  
  .header{
    /* background-color: red; */
    width: 90vw;
  }
  .posts{
    padding-top: 8vh;
  }
  .filter-buttons{
    position: absolute;
    top: 25vh;
  }
  .main{
    /* width: 90vw; */
    padding: 20px 0;
    font-size: 15px;
  }

  .filter-buttons{
    width: 300px;
  }

  .postblock{
    width:90vw;
  }
}

.pre-cnt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pre-cnt .preloader {
  animation: rotate 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}
@keyframes rotate {
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
.preloader span {
  position: absolute;
  display: block;
  height: 64px;
  width: 64px;
  background: var(--bg-color);
  border: 1px solid var(--bg-color);
  border-radius: 100%;
}
.preloader span:nth-child(1) {
  transform: translate(-28px, -28px);
  animation: shape_1 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}
@keyframes shape_1 {
  60% {
    transform: scale(0.4);
  }
}
.preloader span:nth-child(2) {
  transform: translate(28px, -28px);
  animation: shape_2 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}
@keyframes shape_2 {
  40% {
    transform: scale(0.4);
  }
}
.preloader span:nth-child(3) {
  position: relative;
  border-radius: 0px;
  transform: scale(0.98) rotate(-45deg);
  animation: shape_3 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}
@keyframes shape_3 {
  50% {
    border-radius: 100%;
    transform: scale(0.5) rotate(-45deg);
  }
  100% {
    transform: scale(0.98) rotate(-45deg);
  }
}
.shadow {
  position: relative;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 16px;
  width: 64px;
  border-radius: 50%;
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  animation: shadow 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}
@keyframes shadow {
  50% {
    transform: translateX(-50%) scale(0.5);
    border-color: #f2f2f2;
  }
}